- function Member(dataType, name, avatar, profession, background, review){this.dataType = dataType;this.name = name;this.avatar = avatar;this.profession = profession;this.background = background;this.review = review;};
- var member1 = new Member('member1', 'Андрей Гончар', '1.jpg', 'DJ Undercover', 'bg_1.jpg', 'Хочу порекомендавать веб-студию TED всем, у кого в планах создание собственного интернет-ресурса. Обратился к студии в июне этого года с вопросом о создании сайта. Работа выполнена на отлично. Недорого, строго в указанные в договоре сроки, качественно, без единого замечания. В любое время есть возможность созвониться, внести поправки в процессе создания сайта. Всегда можно обратиться с вопросом, как во время выполнения работы, так и после подписания акта приёма-передачи. Ни одно сообщение на электронный адрес студии не осталось без ответа, ни один звонок не был пропущен. Очень ответственные, порядочные, приятные в общении профессионалы своего дела! Крайне рекомендую!');
- var member2 = new Member('member2', 'Роман Лепёхин', '2.jpg', 'Директор ООО "Спектр"', 'bg_2.jpg', 'Было очень легко работать с Вами. Сайт получился именно такой как мы его задумывали. Благодарим за Ваше участие и подсказки в оформлении и наполнении сайта информацией. Нравится Ваш подход к делу, быстрая реакция на наши вопросы, и корректировки возникшие в работе над сайтом. В дальнейшем планируем пользоваться Вашими услугами и рекомендовать Вас своим друзьям и деловым партнерам. Всяческого Вам процветания и благ.');
- var member3 = new Member('member3', 'Юлия Калачёва', '3.jpg', 'Менеджер SPA-центра Золотая Жемчужина', 'bg_3.jpg', 'Мы хотели бы поблагодарить участников разработки сайта "Золотой Жемчуг" за удачный проект. Нам очень понравился дизайн сайта и его функциональность. Все наши постоянные клиенты оценили новый сайт на пять. Ну и конечно спасибо разработчикам за терпение и такт, так как мы наверное были капризными заказчиками, слишком требовательными и меняли много раз содержимое и дизайн. Но результат мы оцениваем на Отлично!!! Еще раз спасибо всему коллективу и надеемся на дальнейшее сотрудничество.');

mixin review(dataType, img, name, profession, delay)
	li.wow.flipInY(data-wow-delay="#{delay}s", data-wow-duration="1.5s")
		a(data-type="#{dataType}")
			figure
				img(src="img/reviews/#{img}", alt="#{name}: #{profession}")
				.cd-img-overlay
					span Посмотреть отзыв
			.cd-member-info= name
				span= profession
mixin reviewCard(dataType, bg, name, review)
	div(class='cd-member-bio #{dataType}')
		.cd-member-bio-pict
			img(src="img/reviews/#{bg}", alt="#{name}")
		.cd-bio-content
			h1= name
			p= review
#reviews
	.title.wow.flipInX(data-wow-delay='0.5s') Отзывы о нас
	.reviews
		main
			#cd-team.cd-section
				.cd-container
					ul
						+review(member1.dataType, member1.avatar, member1.name, member1.profession, 0.3)
						+review(member2.dataType, member2.avatar, member2.name, member2.profession, 0.6)
						+review(member3.dataType, member3.avatar, member3.name, member3.profession, 0.9)
			.cd-overlay
		+reviewCard(member1.dataType, member1.background, member1.name, member1.review)
		+reviewCard(member2.dataType, member2.background, member2.name, member2.review)
		+reviewCard(member3.dataType, member3.background, member3.name, member3.review)
		.cd-member-bio-close